.game {
	.map {
		background-color: #10527a;
		height: 100vh;
	}

	.station-pin {
		position: relative;
		--color: rebeccapurple;

		&.smallest {
			--color: darkslateblue;

			.pin {
				outline: none;
			}
		}

		&.small {
			--color: rebeccapurple;
		}

		&.medium {
			--color: darkmagenta;
		}

		&.big {
			--color: #a43586;
		}

		&.biggest {
			--color: #a43586;

			.pin {
				outline-style: dashed;
			}
		}

		&:is(.biggest, .big) span {
			font-weight: bold;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		}

		&.hover > div.pin {
			--adjusted-color: color-mix(in oklch, var(--color), white 10%);
		}

		div.pin {
			--adjusted-color: var(--color);

			aspect-ratio: 1 / 1;
			background-color: var(--adjusted-color);
			border-radius: 10rem;
			outline: 2px solid var(--adjusted-color);
		}

		span {
			position: absolute;
			font-size: 1.3rem;
			line-height: 1.1;
			width: 8rem;
		}
	}
}
