.game-ui {
	position: fixed;
	inset: 0;
	z-index: 3000;
	pointer-events: none;

	.game-ui-top {
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
		display: flex;
		gap: 1rem;
	}

	.game-ui-right {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 1.5rem;
		top: 50%;
		gap: 1rem;
		translate: 0 -50%;
	}
}
