@scope tree;

.game-ui {
	position: fixed;
	inset: 0;
	z-index: 3000;
	pointer-events: none;

	& > div {
		position: absolute;
	}

	& > div:has(> .panel) {
		border-radius: 1rem;
		overflow: hidden;
	}

	.panel {
		background-color: var(--surface);
		color: var(--on-surface);
		box-shadow: 2px 2px 2px #093d5e77;
		border-radius: inherit;
		pointer-events: all;
	}

	.game-ui-top {
		right: 1.5rem;
		top: 1.5rem;
		display: flex;
		gap: 1rem;
	}

	.game-ui-right {
		display: flex;
		flex-direction: column;
		right: 1.5rem;
		top: 50%;
		gap: 1rem;
		translate: 0 -50%;
	}

	.game-ui-left {
		width: 30%;
		top: 1.5rem;
		left: 1.5rem;
		bottom: 1.5rem;
		overflow: clip;

		.panel {
			width: 100%;
			height: 100%;
			transition: translate 1s;
			display: flow-root;

			&.collapsed {
				translate: calc(-100% - 4px) 0;
			}

			& > a {
				float: right;
				margin: 1.5rem;
				margin-bottom: 0;
				font-size: 2rem;
				line-height: 1;
				color: inherit;
				transition: color 200ms;

				&:hover {
					// TODO: better color
					color: #fff;
				}

				i {
					transition: rotate 200ms;
				}

				&:hover i {
					rotate: 45deg;
				}
			}

			h2 {
				margin: 1.5rem;
				line-height: 1;
				font-size: 2rem;
			}
		}
	}

	.game-ui-bottom-right {
		right: 6.75rem;
		bottom: 1.5rem;
		width: 25rem;
		overflow: hidden;
		overflow: clip;

		.panel {
			width: inherit;
			aspect-ratio: 16/9;
			padding: 1rem;
			overflow: auto;
			transition: transform 1s;

			&.collapsed {
				transform: translateY(calc(100% + 4px));
			}
		}
	}
}
