.tracks-menu {
	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		display: grid;
		grid-template-columns: 10rem 1fr;
		padding: 1.5rem;
		border-top: 2px solid var(--on-surface);
		transition: background-color 200ms;
		cursor: pointer;

		&:last-child {
			border-bottom: 2px solid var(--on-surface);
		}

		&:hover {
			background-color: var(--surface-lighter);
		}

		&.selected {
			background-color: var(--surface-lightest);
		}

		.label {
			font-size: 1.5rem;
		}
	}
}
