.quit-dialog {
	min-width: 35rem;
	padding: 1.5rem;
	background-color: var(--surface);
	color: var(--on-surface);
	border-radius: 1rem;
	border: 0;
	pointer-events: all;
	transition: opacity 500ms ease-out, display 500ms allow-discrete;
	opacity: 0;

	&::backdrop {
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		transition: inherit;
	}

	&[open],
	&[open]::backdrop {
		opacity: 1;
	}

	@starting-style {
		&[open],
		&[open]::backdrop {
			opacity: 0;
		}
	}

	h2 {
		margin-block: 0 1.5rem;
		font-size: 1.7rem;
		text-align: center;
	}

	button {
		display: block;
		width: 100%;
		margin-block-start: 0.7rem;
		padding: 0.7rem 1.5rem;
		border: none;
		border-radius: 4px;
		font-size: 1.125rem;
		cursor: pointer;
		transition: background-color 200ms;

		&.green {
			background: #35a453;
			color: #fff;

			&:is(:hover, :focus-visible) {
				background: #2e8b4e;
			}
		}

		&.red {
			background: #e6442e;
			color: #fff;

			&:is(:hover, :focus-visible) {
				background: #d63a26;
			}
		}

		&.orange {
			background: #e6ac2e;

			&:is(:hover, :focus-visible) {
				background: #d69a26;
			}
		}
	}

	.quit-dialog-buttons {
		display: grid;
		grid-template-columns: 4rem 1fr 1fr 4rem;
		gap: 0 0.7rem;

		.save-quit-btn {
			grid-column: 1 / span 3;
		}

		button:is(:last-child, :nth-last-child(2)) {
			grid-column: span 2;
		}

		button:first-child {
			border-top-left-radius: 1rem;
		}

		button:nth-child(2) {
			border-top-right-radius: 1rem;
		}

		button:nth-last-child(2) {
			border-bottom-left-radius: 1rem;
		}

		button:last-child {
			border-bottom-right-radius: 1rem;
		}
	}

	.confirm-dialog-buttons {
		& > button:first-child {
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
		}

		& > button:last-child {
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}
	}
}
