.tracks-menu {
	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		border-top: 2px solid var(--on-surface);
		transition: background-color 200ms;

		&:last-child {
			border-bottom: 2px solid var(--on-surface);
		}

		&:hover {
			background-color: var(--surface-lighter);
		}

		&.active {
			background-color: var(--surface-lightest);
		}
	}

	a {
		display: grid;
		grid-template-columns: 10rem 1fr;
		padding: 1.5rem;
		text-decoration: none;
		color: inherit;
	}

	.label {
		font-size: 1.5rem;
	}
}
