.icon-button {
	display: block;
	height: 100%;
	aspect-ratio: 1 / 1;
	padding: 0.9rem;
	background-color: var(--surface);
	color: var(--on-surface);
	border: 0;
	border-radius: 10px;
	box-shadow: -2px 2px 2px #093d5e77;
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;

	pointer-events: all;
	cursor: pointer;
	outline: none;
	transition: background-color 200ms;

	&:is(:hover, :focus) {
		background-color: var(--surface-lighter);
	}

	&.active {
		background-color: var(--surface-lightest);
	}

	&.disabled {
		background-color: gray;
		color: var(--surface-lightest);
		cursor: not-allowed;
	}

	&:is(a).disabled {
		pointer-events: none;
	}

	img {
		height: 1.5rem;
	}
}
