@scope tree;

.buy-train-menu {
	display: flex;
	flex-direction: column;
	height: calc(100% - 5rem - 1.5rem);
	margin-inline: 1.5rem;

	nav.tabs ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		margin-block-start: 0;

		li {
			width: 100%;
		}

		a {
			all: unset;
			cursor: pointer;

			display: block;
			padding: 0.5rem;
			text-align: center;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			border-bottom: 4px solid var(--on-surface);

			&:hover,
			&:focus-visible {
				background-color: var(--surface-lighter);
			}
		}

		a.active {
			border-color: var(--surface-lightest);
		}
	}

	.inner-wrapper {
		display: flex;
		flex-direction: column;
	}

	& > img {
		width: 100%;
		height: auto;
	}

	.info-row {
		margin-block-start: 1.5rem;
	}

	.info-row .red {
		color: red;
	}

	& > button {
		margin-block-start: 1.5rem;
	}
}
