.station-info {
	position: absolute;
	bottom: 0;
	translate: -50% 0;

	width: 25rem;
	padding: 1rem 0;
	margin-bottom: 2rem;
	background-color: var(--surface);
	color: var(--on-surface);
	border-radius: 1rem;
	font-size: 1rem;
	box-shadow: -2px 2px 2px #093d5e77;
	cursor: default;

	h5 {
		margin: 0;
		font-size: 1.125rem;
		text-align: center;
	}

	.close {
		all: unset;
		position: absolute;
		top: 0.2rem;
		right: 0.2rem;
		padding: 0.5rem;
		font-size: 1.25rem;
		cursor: pointer;

		&:hover {
			color: var(--surface-lightest);
		}
	}

	nav ul {
		list-style-type: none;

		display: flex;
		padding: 0;
		margin-block-start: 0;
		font-size: 1rem;
		border-bottom: 2px solid var(--on-surface);

		li {
			position: relative;
			width: 100%;
			padding: 0.25rem;
			text-align: center;
			cursor: pointer;

			&.active::after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 50%;
				translate: -50% 0;

				display: block;
				width: 80%;
				height: 2px;
				background-color: var(--surface-lightest);
			}

			&:hover {
				background-color: var(--surface-lighter);
			}
		}

		i {
			margin-inline-end: 0.25rem;
		}
	}

	.scroll-container {
		height: 8rem !important;
		width: auto !important;
		margin-inline: 1rem;
	}

	.empty {
		display: grid;
		place-content: center;
		text-align: center;
		gap: 0.7rem;
		padding: 0.5rem;
		width: 100%;
		height: 100%;
		background-color: var(--surface-lighter);
		border-radius: 1rem;

		i {
			font-size: 2rem;
		}

		p {
			max-width: 20ch;
			font-size: 0.9rem;
			margin: 0;
		}
	}

	.passengers-list,
	.train-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.passengers-list li {
		display: flex;
		justify-content: space-between;
	}

	.train-list {
		li {
			display: grid;
			grid-template-columns: auto auto 1fr auto;

			& + li {
				margin-block-start: 0.5rem;
			}
		}

		a {
			grid-row: span 2;
			margin-inline-end: 0.5rem;
			margin-block-start: 0.3rem;
			font-size: 1.5rem;
		}

		.passengers {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		.last {
			grid-column: 4 / 5;
			text-align: end;
		}
	}
}
