@scope tree;

.routes-menu {
	height: 100%;

	& > div {
		display: flex;
		flex-direction: column;
		height: calc(100% - 5rem);
	}

	& > div > a {
		margin: 1.5rem;
	}

	.routes-list {
		list-style-type: none;
		padding: 0;
		margin-inline: 1.5rem;
	}

	.no-routes {
		display: grid;
		place-content: center;
		flex-grow: 1;
		padding: 1rem;
		margin-inline: 1.5rem;
		background-color: var(--surface-lighter);
		border-radius: 1rem;
		font-size: 1.5rem;
	}
}
