@scope tree;

.route-details-menu {
	& > div {
		display: grid;
		margin-inline: 1.5rem;
	}

	form {
		display: flex;
		gap: 1rem;
	}

	input {
		background-color: var(--surface-lighter);
		border: none;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		padding: 0.75rem 1rem;
		font-size: 1.125rem;
		margin-bottom: 2px;
		border-radius: 0.5rem 0.5rem 0 0;
		outline: none;

		&:focus-visible {
			margin: 0;
			border-bottom: 2px solid var(--on-surface-lighter);
		}
	}

	.color-input-wrapper {
		overflow: hidden;
		width: 3rem;
		border-radius: 0.5rem;
		cursor: pointer;

		input {
			width: 200%;
			height: 200%;
			margin: -50%;
		}
	}

	.stops-list-wrapper h3 {
		margin-block-end: 1rem;
	}

	.stops-list {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			margin: 0.5rem 0;
			gap: 0.5rem;

			&.shadow {
				color: gray;
			}

			.decoration {
				height: 1.5rem;
				aspect-ratio: 1;
				border-radius: 50%;
				border: 2px solid currentColor;
				position: relative;
			}

			p {
				margin: 0;
				font-size: 1.125rem;
			}

			button:first-of-type {
				margin-inline-start: auto;
			}

			button {
				all: unset;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				height: 2rem;
				padding: 0.3rem 1rem;
				color: var(--on-surface);
				border-radius: 10rem;
				cursor: pointer;

				&:is(:hover, :focus-visible) {
					background-color: var(--surface-lighter);
				}
			}
		}

		li:not(:first-child) .decoration::before {
			content: "";
			position: absolute;
			width: 2px;
			height: calc(2rem - 4px);
			left: 50%;
			background-color: currentColor;
			translate: -1px calc(-2rem + 4px);
		}
	}

	.stops-list-wrapper .empty {
		display: grid;
		place-content: center;
		padding: 1rem;
		background-color: var(--surface-lighter);
		border-radius: 1rem;
	}

	& > div > button {
		margin-block-start: 1.5rem;
		width: 100%;
	}
}
