@scope tree;

.route-details-menu {
	display: flex;
	flex-direction: column;
	height: calc(100% - 5rem - 1.5rem);
	margin-inline: 1.5rem;

	form {
		display: flex;
		gap: 1rem;
	}

	input {
		background-color: var(--surface-lighter);
		border: none;
	}

	input[type="text"] {
		display: block;
		width: 100%;
		padding: 0.75rem 1rem;
		font-size: 1.125rem;
		margin-bottom: 2px;
		border-radius: 0.5rem 0.5rem 0 0;
		outline: none;

		&:focus-visible {
			margin: 0;
			border-bottom: 2px solid var(--on-surface-lighter);
		}
	}

	.color-input-wrapper {
		overflow: hidden;
		width: 3rem;
		border-radius: 0.5rem;
		cursor: pointer;

		input {
			width: 200%;
			height: 200%;
			margin: -50%;
		}
	}

	.stops-list-wrapper h3 {
		margin-block-end: 0.5rem;
		grid-column: 1 / span 2;
	}

	.stops-list-wrapper .empty {
		display: grid;
		place-content: center;
		padding: 1rem;
		background-color: var(--surface-lighter);
		border-radius: 1rem;
	}

	.stops-list-wrapper:has(ul) {
		display: grid;
		grid-template-columns: 2rem 1fr;

		h3 {
			margin-block-end: 0;
		}
	}

	.arrow-container {
		position: relative;
		padding: 1rem 0.5rem;
		padding-inline-start: 0;

		.tip {
			--arrow-size: 0.8rem;

			width: 0;
			height: 0;
			margin-left: auto;
			border-top: var(--arrow-size) solid transparent;
			border-bottom: var(--arrow-size) solid transparent;
			border-left: var(--arrow-size) solid var(--on-surface);
		}

		.tip::before {
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			border-radius: 10rem;
			border: 2px solid var(--on-surface);
			position: absolute;
			right: 0;
			top: calc(1.8rem - 2px);
			clip-path: polygon(calc(50% + 2px) 0%, 0 0, 0 calc(50% + 2px));
		}

		.middle {
			position: absolute;
			left: 0;
			width: 2px;
			height: calc(100% - 4.8rem);
			background-color: var(--on-surface);
		}

		.bottom {
			position: absolute;
			bottom: 1.5rem;
			right: 0;
			width: 2rem;
			height: 2rem;
			border-radius: 10rem;
			border: 2px solid var(--on-surface);
			clip-path: polygon(0 calc(50% + 2px), 0 100%, calc(50% + 2px) 100%);
		}
	}

	.stops-list {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			margin: 0.5rem 0;
			gap: 0.5rem;

			&.shadow {
				color: gray;
			}

			.decoration {
				height: 1.5rem;
				aspect-ratio: 1;
				border-radius: 50%;
				border: 2px solid currentColor;
				position: relative;
			}

			p {
				margin: 0;
				font-size: 1.125rem;
			}

			button:first-of-type {
				margin-inline-start: auto;
			}

			button {
				all: unset;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				height: 2rem;
				padding: 0.3rem 1rem;
				color: var(--on-surface);
				border-radius: 10rem;
				cursor: pointer;

				&:is(:hover, :focus-visible) {
					background-color: var(--surface-lighter);
				}
			}
		}

		li:not(:first-child) .decoration::before {
			content: "";
			position: absolute;
			width: 2px;
			height: calc(2rem - 4px);
			left: 50%;
			background-color: currentColor;
			translate: -1px calc(-2rem + 4px);
		}
	}

	.info-wrapper {
		h3 {
			margin-block-end: 0.5rem;
		}

		p {
			margin-inline-start: 2rem;
			margin-block: 0 0.5rem;
		}
	}

	& > button {
		margin-block-start: 1.5rem;
	}
}
