@scope tree;

.routes-menu {
	& > div {
		display: grid;
	}

	& > div > a {
		margin: 1.5rem;
	}

	.routes-list {
		list-style-type: none;
		padding: 0;
		margin-inline: 1.5rem;

		li {
			display: grid;
			align-items: center;
			grid-template-columns: auto 1fr auto;
			gap: 0.5rem 1rem;

			p {
				margin: 0;
			}

			.name {
				grid-row: 1 / span 2;
				font-size: 2rem;
				font-weight: bold;
			}

			.route {
				font-weight: bold;
			}

			.buttons {
				display: flex;
				grid-row: 1 / span 2;
				grid-column-start: 3;
				gap: 1rem;
			}

			button,
			a {
				background-color: var(--on-surface-lighter);
				color: var(--surface-lighter);
				height: 3.3rem;

				&:hover,
				&:focus {
					background-color: var(--on-surface-lightest);
				}
			}
		}

		li + li {
			margin-block-start: 1rem;
		}
	}
}
